*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
}

html,body{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
}

.pic{
    width:50%;
    height:50%;
    border:6px solid black;
    margin:5px;
}

ul{
    list-style-type: none;
    display: block;
    
}
.audio{
    float: right;
}
li{
    float:left;
}
.caption{
    float:left;
    margin-bottom: 35px;
    margin-top: 0px;
    font-size: 25px;
    text-align: justify;
    border:1px solid #07e607;
}

.navbar{
    height:8vh;
    width:100%;
    background-color:aqua;
    
}
